*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color:#f40000;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: calc(20.00vh - 10px) calc(35vh - 10px) calc(35vh - 10px) calc(10vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#container .celda1{
  padding: 9px;
  background-color:#f40000;
  border-radius: 5px;
  grid-column: 1/4;
  grid-row: 1/2;
}

#container .celda2{
  padding: 9px;
  /*background-color:#ffffff;*/
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 3/4;
}
#container .celda2 img{
  width: 90%;
  height: 100%;
}

#container .celda3{
  padding: 9px;
/*  background-color:#ffffff;*/
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
}
#container .celda3 img{
  width: 90%;
  height: 100%;
}
#container .celda4{
  padding: 9px;
  /*background-color:#ffffff;*/
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 3/4;
}
#container .celda4 img{
  width: 90%;
  height: 100%;
}
#container .celda5{
  padding: 9px;
  /*background-color:#ffffff;*/
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 2/3;
}
#container .celda5 img{
  width: 90%;
  height: 100%;
}
#container .celda6{
  padding: 9px;
  background-color:#f40000;
  border-radius: 5px;
  grid-column: 1/3;
  grid-row: 4/5;
}

#container .celda7{
  padding: 9px;
  background-color:#ffffff;
  border-radius: 5px;
}

#container .celda8{
  padding: 9px;
  background-color:#ffffff;
  border-radius: 5px;
}

#container .celda9{
  padding: 9px;
  background-color:#ffffff;
  border-radius: 5px;
}
